<?php

define('HOST', 'host.docker.internal');
define('PORT', 5672);
define('USE_TLS', false);
define('KEY_NAME', 'Login');
define('ACCESS_KEY', 'Password');

define('MY_TOPIC', 'myTopic');
define('MY_SUBSCRIPTION', 'myTopic/subscriptions/mySubscription');
define('MY_MESSAGE', 'my example message here');
